<el-menu mode="vertical" default-active="{{ menuActive }}">
  <el-submenu index="1">
    <template slot="title">
      <i class="el-icon-search"></i>
      <span>會員查詢</span>
    </template>
    <a href="/administration/members">
      <el-menu-item index="1-1"><i class="el-icon-document"></i>會員總覽</el-menu-item>
    </a>
    <a href="/administration/game-history">
      <el-menu-item index="1-2"><i class="el-icon-document"></i>遊戲紀錄</el-menu-item>
    </a>
  </el-submenu>
  <a href="/administration/point-history">
    <el-menu-item index="2">
      <i class="el-icon-document"></i>
      <span slot="title">紅利兌換</span>
    </el-menu-item>
  </a>
  <a href="/administration/supplement">
    <el-menu-item index="3">
      <i class="el-icon-setting"></i>
      <span slot="title">客訴補幣</span>
    </el-menu-item>
  </a>
  <a href="/administration/report">
    <el-menu-item index="4">
      <i class="el-icon-document"></i>
      <span slot="title">營運報表</span>
    </el-menu-item>
  </a>
  <a href="/administration/blacklist">
    <el-menu-item index="5">
      <i class="el-icon-document"></i>
      <span slot="title">黑名單</span>
    </el-menu-item>
  </a>

</el-menu>