<div id="js-info" class="userInfo">
  <div class="userInfo__item userInfo__item--coins">
    <div id="js-gamePoint" class="item">{gamePoint}</div>
    <div class="itemBg"><img src="/static/images/img_user_coins.png" alt=""></div>
  </div>
  <div class="userInfo__item userInfo__item--img">
    <div class="character">
      <div class="item--character"><img class="js-superMan" src="" alt=""></div>
    </div>
    <div class="itemBg"><img src="/static/images/img_user_character.png" alt=""></div>
  </div>
  <div class="userInfo__item userInfo__item--bouns">
    <div id="js-carPlusPoint" class="item">{carPlusPoint}</div>
    <div class="itemBg"><img src="/static/images/img_user_bonus.png" alt=""></div>
  </div>
</div>