.el-header {
  position: relative;
  background-color: #409EFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 3px #ddd;
  
  h1 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
  }

  .account-info {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;

    &__name {
      padding: 0 15px;
      border-right: 1px solid #fff;
    }

    &__logout {
      padding: 0 15px;
      transition: .3s all;
      cursor: pointer;
  
      &:hover {
        background-color: #fff;
        color: #409EFF;
      }
    }
  }
}

.el-main {
  padding-bottom: 60px;
}

.el-menu {
  height: 100%;
}
// .el-menu-item, .el-submenu__title {
//   border-bottom: 1px solid #ddd;

//   &.is-active{
//     border-left: 5px solid #409EFF;
//     background-color: #F2F6FC;
//   }
// }

// .el-form-item {
//   display: flex;
//   align-items: center;

//   &__label {
//     font-weight: bold;
//     width: 120px;
//     text-align: right;
//   }

//   &__content {
//     flex: 1;
//   }
// }

// .el-input{
//   width: 100%;;
// }

.fake-table {
  .el-form-item__label {
    background-color: #ddd;
    padding: 0 15px;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 30px;
  }
  .el-form-item__content {
    line-height: 30px;
  }
}

.form-wrap {
  max-width: 550px;
}

.el-table {
  border-radius: 5px
}

.el-table__header {
  tr {
    th {
      background-color: #C0C4CC;
      line-height: 45px;
      color: black;
    }
  }
  th {
    text-align: center;
  }
}

.el-card__header {
  background-color: #C0C4CC;
}