
@import '../variables.scss';
@import '../animation.scss';
@import '../mixin.scss';
@import '../transition.scss';

html,*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: static !important;
  overflow-y: scroll;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: $bg;
}


div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input, button {
  &:focus {
    outline: none;
  }
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.carplus-table {
  border: 1px solid #888;
  width: 100%;
  text-align: center;
  border-spacing: 0;
  caption {
    padding: 10px;
    background-color: #888;
    color: #fff;
    font-weight: bold;
  }

  thead tr th {
    line-height: 30px;
    border-bottom: 1px solid #333;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #eee;
    }

    td {
      padding: 10px;
    }
  }
}


@import '../tool.scss';
@import './element.scss';