<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>格上租車</title>
    <style>
        body {
            margin: 0
        }
    </style>
    <script src="/static/js/vendors~admin.blacklist~admin.game-history~admin.index~admin.login~admin.members~admin.point-history~7e3005c6.bundle.js"></script>
    <script src="/static/js/vendors~catch.game~game.intro~game.result~home~profile~question~shot.game.bundle.js"></script>
    <script src="/static/js/vendors~game.intro~game.result~home~profile~question~shot.game.bundle.js"></script>

</head>

<body>
    <div id="js-stop-mask" class="stop-mask" style="display: none">
        <div class="stop-mask__body">
            <img src="/static/images/mobile-hint.png" alt="">
            <h2>要把手機轉直，才能進行遊戲唷！</h2>
        </div>
    </div>
    {{> menu}}
    {{{body}}}
</body>

</html>