$mainBlue: rgb(53,121,181);
$lightBlue: rgb(221,234,243);
$bg: rgb(247,245,245);
$lightGray: rgb(247,245,245);
$gray2: rgb(225,225,225);
$gray: rgb(156, 156, 156);
$darkGray: rgb(97,97,97);

$green: rgb(133, 200, 146);
$yellow: rgb(241,172,90);

$--color-primary: black;

$success: $green;
$error:#F56C6C;
$warning: $yellow;

$re: #cc2f2d;
$line_color: rgb(190, 241, 140);
$el_blue:#409EFF;
$re_yellow: rgb(246, 166, 35);
$re_boss: #2a2a2a;


$topBarHeight: 60px;
$sideBarOpenWidth: 250px;
$sideBarCloseWidth: 0;



