<ul>
    <li><a href="/">home</a></li>
    <li><a href="/shot-game">shot game</a></li>
    <li><a href="/catch-game">catch game</a></li>
</ul>

<ul>
    <li>
        <a href="/shop">商城</a>
    </li>
    <li>
        <a href="/question">遊戲說明</a>
    </li>
</ul>



<script src="/static/js/home.bundle.js"></script>