<div class="wrapper wrap-bg02">
    {{> userInfo}}

    <!-- 使用者角色卡 start -->
    <div id="js-info-card" class="userCard userCard--user">
        <a href="/">
            <div class="button__back type-btn"><img src="/static/images/btn_back.png" alt=""></div>
        </a>
        <div class="userCard__item">
            <div class="character"><img class="js-superMan" src="" alt=""></div>
            <div class="info">
                <!-- 暱稱 start -->
                <div class="list">
                    <div class="title"><img src="/static/images/img_carditem_name.png" alt=""></div>
                    <div id="js-nickName" class="content type-inset">{nickName}</div>
                    <div class="button__edit type-btn" data-btn="edit"><img src="/static/images/btn_edit.png" alt=""></div>
                </div>
                <!-- 暱稱 end -->
                <!-- 等級 start -->
                <div class="list">
                    <div class="title"><img src="/static/images/img_carditem_lv.png" alt=""></div>
                    <div id="js-level" class="content">{level}</div>
                </div>
                <!-- 等級 end -->
                <!-- 經驗 start -->
                <div class="list list--carplus">
                    <div class="title"><img src="/static/images/img_carditem_exp.png" alt=""></div>
                    <div id="js-experience" class="content">{experience}</div>
                </div>
                <!-- 經驗 end -->
                <!-- 經驗條 start -->
                <div class="list">
                    <div class="item item__exp">
                        <div class="item__expbar">
                            <div class="exp__ing exp__ing--user">
                                <div id="js-percentage" class="exp" style="width: {percentage}"></div>
                            </div>
                            <div class="exp__bg exp__bg--user"></div>
                        </div>
                    </div>
                </div>
                <!-- 經驗條 end -->
            </div>
        </div>
    </div>
    <!-- 使用者角色卡 end -->
    <!-- 道具區 start -->
    <div class="pocket">
        <div class="header"></div>
        <div class="content">
            <div class="pocket__title"><img src="/static/images/img_shoptitle_2.png" alt=""></div>
            <div id="js-itemList" class="itemList user">
                <div class="item item-char">
                    <div class="item__icon icon__accept"></div>
                    <div class="item__main">
                        <div class="goods"><img src="" alt=""></div>
                    </div>
                </div>
                {{!-- <div class="item item-prop">
                    <div class="item__icon icon__amount"><span>x5</span></div>
                    <div class="item__main">
                        <div class="goods"><img src="/static/images/icon_scoreup.png" alt=""></div>
                    </div>
                </div>
                <div class="item item-prop">
                    <div class="item__icon icon__amount"><span>x99</span></div>
                    <div class="item__main">
                        <div class="goods"><img src="/static/images/icon_coinup.png" alt=""></div>
                    </div>
                </div> --}}
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <!-- 道具區 end -->
    <!-- 遮罩 start -->
    <div id="js-zoneMask" class="zoneMask" style="display: none;">
        <div class="attrBox type-actual" data-name="edit">
            <div class="content">
                <div class="item-title"><img src="/static/images/img_attrTitle06.png" alt=""></div>
                <div class="inputList">
                    <div class="input"><input type="text" id="js-nickNameValue" class="type-actual" placeholder="暱稱最多五個字" maxlength="5"
                            value=""></div>
                </div>
            </div>
            <div id="js-submit" class="button__accept button__accept--singel type-btn"><img src="/static/images/btn_accept.png"
                    alt=""></div>
            <div class="item-bg type-actual"><img src="/static/images/img_attrPanel.png" alt=""></div>
        </div>
    </div>
    <!-- 遮罩 end -->
</div>



<script src="/static/js/profile.bundle.js"></script>