<div id="js-info" class="wrapper wrap-bg05">
  <div class="userInfo">
    <div class="userInfo__item userInfo__item--coins">
      <div id="js-gamePoint" class="item">{gamePoint}</div>
      <div class="itemBg"><img src="/static/images/img_user_coins.png" alt=""></div>
    </div>
    <div class="userInfo__item userInfo__item--img">
      <div class="character">
        <div class="item--character"><img src="/static/images/img_character02.png" alt=""></div>
      </div>
      <div class="itemBg"><img src="/static/images/img_user_character.png" alt=""></div>
    </div>
    <div class="userInfo__item userInfo__item--bouns">
      <div id="js-carPlusPoint" class="item">{carPlusPoint}</div>
      <div class="itemBg"><img src="/static/images/img_user_bonus.png" alt=""></div>
    </div>
  </div>
  <div class="shop">
    <a href="/"><div class="button__back type-btn"><img src="/static/images/btn_back.png" alt=""></div></a>
    <div class="header"></div>
    <div class="content">
      <div class="title"><img src="/static/images/img_shoptitle_0.png" alt=""></div>
      <!-- 購買角色區 start -->
      <div id="js-character" class="itemList character">
        
        <!-- 左上角狀態: item (一般狀態) | item--lock (鎖住狀態) -->
        <div class="item item--lock">
          <div class="item__icon icon"></div>
          <div class="item__main">
            <div class="goods"><img src="/static/images/img_character02.png" alt=""></div>
          </div>
          <!-- lock:鎖住(等級限制) | price:解鎖(購買金額) | hold:已擁有 | show:顯示 -->
          <div class="item__tips type-shop">
            <div class="it-s lock show"><span>Lv2</span></div>
            <div class="it-s price"><span>500</span></div>
            <div class="it-s hold"></div>
          </div>
        </div>
        <!-- 左上角狀態: item (一般狀態) | item--lock (鎖住狀態) -->
        <div class="item item--lock">
          <div class="item__icon icon"></div>
          <div class="item__main">
            <div class="goods"><img src="/static/images/img_character02.png" alt=""></div>
          </div>
          <!-- lock:鎖住(等級限制) | price:解鎖(購買金額) | hold:已擁有 | show:顯示 -->
          <div class="item__tips type-shop">
            <div class="it-s lock show"><span>Lv4</span></div>
            <div class="it-s price"><span>500</span></div>
            <div class="it-s hold"></div>
          </div>
        </div>
        <!-- 左上角狀態: item (一般狀態) | item--lock (鎖住狀態) -->
        <div class="item item--lock">
          <div class="item__icon icon"></div>
          <div class="item__main">
            <div class="goods"><img src="/static/images/img_character02.png" alt=""></div>
          </div>
          <!-- lock:鎖住(等級限制) | price:解鎖(購買金額) | hold:已擁有 | show:顯示 -->
          <div class="item__tips type-shop">
            <div class="it-s lock show"><span>Lv7</span></div>
            <div class="it-s price"><span>500</span></div>
            <div class="it-s hold"></div>
          </div>
        </div>
        <!-- 左上角狀態: item (一般狀態) | item--lock (鎖住狀態) -->
        <div class="item item--lock">
          <div class="item__icon icon"></div>
          <div class="item__main">
            <div class="goods"><img src="/static/images/img_character02.png" alt=""></div>
          </div>
          <!-- lock:鎖住(等級限制) | price:解鎖(購買金額) | hold:已擁有 | show:顯示 -->
          <div class="item__tips type-shop">
            <div class="it-s lock show"><span>Lv12</span></div>
            <div class="it-s price"><span>500</span></div>
            <div class="it-s hold"></div>
          </div>
        </div>
      </div>
      <!-- 購買角色區 end -->
      <div class="title"><img src="/static/images/img_shoptitle_1.png" alt=""></div>
      <!-- 購買道具區 start -->
      <div id="js-prop" class="itemList prop">
        <div class="item">
          <div class="item__main">
            <div class="goods"><img src="/static/images/icon_scoreup.png" alt=""></div>
          </div>
          <!-- price: 超人幣 | bounce: 紅利 -->
          <div class="item__tips type-shop">
            <div class="price"><span>500</span></div>
          </div>
        </div>
        <div class="item">
          <div class="item__main">
            <div class="goods"><img src="/static/images/icon_coinup.png" alt=""></div>
          </div>
          <!-- price: 超人幣 | price--bounce: 紅利 -->
          <div class="item__tips type-shop">
            <div class="price"><span>500</span></div>
          </div>
        </div>
        <div class="item">
          <div class="item__main">
            <div class="goods"><img src="/static/images/icon_coin500.png" alt=""></div>
          </div>
          <!-- price: 超人幣 | bounce: 紅利 -->
          <div class="item__tips type-shop">
            <div class="price price--bounce"><span>1</span></div>
          </div>
        </div>
        <div class="item">
          <div class="item__main">
            <div class="goods"><img src="/static/images/icon_bonus.png" alt=""></div>
          </div>
          <!-- price: 超人幣 | bounce: 紅利 -->
          <div class="item__tips type-shop">
            <div class="price"><span>500</span></div>
          </div>
        </div>
      </div>
      <!-- 購買道具區 end -->
    </div>
    <div class="footer"></div>
  </div>
</div>

<script src="/static/js/shop.bundle.js"></script>