
<link rel="stylesheet" href="/static/css/swiper.min.css">

<div class="wrapper wrap-outbox">
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="wrap-tutorial"><img src="/static/images/description_0.jpg" alt=""></div>
        </div>
        <div class="swiper-slide">
          <div class="wrap-tutorial"><img src="/static/images/description_1.jpg" alt=""></div>
        </div>
        <div class="swiper-slide">
          <div class="wrap-tutorial"><img src="/static/images/description_2.jpg" alt=""></div>
        </div>
        <div class="swiper-slide">
          <div class="wrap-tutorial">
            <div class="button__start type-btn" onclick="window.location.href = '/'">開始遊戲</div><img src="/static/images/description_3.jpg" alt="">
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination" style="color:#fff;font-size: 1rem; bottom: 0;"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next type-btn"></div>
      <div class="swiper-button-prev type-btn"></div>
    </div>
  </div>


<script src="/static/js/tutorial.bundle.js"></script>