<div>
  <h2>遊戲紀錄</h2>
  <div class="form-wrap">
    <el-form label-position="right" label-width="100px" @submit.native.prevent>
      <el-form-item label="會員Id">
        <el-input placeholder="請輸入會員Id" v-model="memberId" @keyup.enter.native="getGameHistory(true)"></el-input>
      </el-form-item>
      <el-form-item label="日期">
        <el-date-picker type="daterange" v-model="dateGap" range-separator="至" start-placeholder="開始日期" end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
    </el-form>
  </div>


  <div class="text-right row-block">
    <el-row type="flex" align="middle" justify="space-between">
      <el-col class="text-left">
        <el-button type="primary" icon="el-icon-search" @click="getGameHistory(true)">搜尋</el-button>
        <el-button type="info" @click="exportExcel">匯出Excel</el-button>
      </el-col>
      <el-col>
        <el-pagination :current-page.sync="page.index" background layout="prev, pager, next" :pageSize="page.size"
          :total="page.dataAmount" @current-change="handlePageChange">
        </el-pagination>
      </el-col>
    </el-row>
  </div>

  <el-table :data="history" row-key="id" header-align="center" stripe border highlight-current-row>
    <el-table-column label="會員Id" prop="memberId"></el-table-column>
    <el-table-column label="遊戲狀態" align="center">
      <template slot-scope="scope">
        <el-tag :type="scope.row.isFinish ? 'success' : 'warning'">\{{ scope.row.isFinish ? '完成' : '未完成' }}</el-tag>
      </template>
    </el-table-column>
    <el-table-column label="會員暱稱" prop="member.nickName"></el-table-column>
    <el-table-column label="遊戲項目" prop="game.name"></el-table-column>
    <el-table-column label="獲得分數" prop="score"></el-table-column>
    <el-table-column label="獲得超人幣" prop="point"></el-table-column>
    <el-table-column label="遊戲開始時間">
      <template slot-scope="scope">
        \{{ $g_formatDateTime(scope.row.dateCreated) }}
      </template>
    </el-table-column>
    <el-table-column label="遊戲完成時間">
      <template slot-scope="scope">
        \{{ $g_formatDateTime(scope.row.dateFinished) }}
      </template>
    </el-table-column>
  </el-table>

  <div class="text-right row-block">
    <el-row type="flex" align="middle" justify="space-between">
      <el-col class="text-left">
      </el-col>
      <el-col>
        <el-pagination :current-page.sync="page.index" background layout="prev, pager, next" :pageSize="page.size"
          :total="page.dataAmount" @current-change="handlePageChange">
        </el-pagination>
      </el-col>
    </el-row>
  </div>
</div>

<script src="/static/js/admin.game-history.bundle.js"></script>