

<el-row :gutter="20">
  <el-col :sm="{ span: 12, offset: 6 }" :xs="24">
    <el-card shadow="none">
      <div class="text-center" slot="header">登入系統</div>
      <el-form>
        <el-form-item>
          <el-input type="text" v-model="account" placeholder="請輸入帳號">
            <template slot="prepend">帳號</template>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input type="password" v-model="password" placeholder="請輸入密碼" @keyup.enter.native="login">
            <template slot="prepend">密碼</template>
          </el-input>
        </el-form-item>
      </el-form>
      <el-button type="primary" @click="login" :loading="isLoading">登入</el-button>
    </el-card>
  </el-col>
</el-row>

<script src="/static/js/admin.login.bundle.js"></script>