<div>
  <h2>營運報表</h2>
  <div class="form-wrap">
    <el-form>
      <el-form-item label="日期">
        <el-date-picker type="daterange" v-model="dateGap" range-separator="至" start-placeholder="開始日期" end-placeholder="结束日期">
        </el-date-picker>
      </el-form-item>
    </el-form>
  </div>


  <div class="text-right row-block">
    <el-row type="flex" align="middle" justify="space-between">
      <el-col class="text-left">
        {{!-- <el-button type="primary" icon="el-icon-search" @click="getDashboard(true)">搜尋</el-button> --}}
        <el-button type="info" @click="exportExcel">匯出Excel</el-button>
      </el-col>
      <el-col>
      </el-col>
    </el-row>
  </div>

  <el-table :data="reports" v-if="dateStart" header-align="center" stripe border highlight-current-row>
    <el-table-column label="登入人次" prop="memberCount"></el-table-column>
    <el-table-column label="遊戲場次" prop="gameCount"></el-table-column>
    <el-table-column label="總遊戲人次" prop="memberHasPlayGameCount"></el-table-column>
  </el-table>

</div>

<script src="/static/js/admin.report.bundle.js"></script>